{% load static %}


<div class="w-full flex justify-center pt-8 " >
    <div class=" bg-white w-[1300px] rounded-full">
        <div class="w-full flex justify-between py-4 px-8 "> 
            <img src="{% static 'images/hotel-logo.svg' %}" alt="" srcset="">

            <div class="flex flex-row items-center gap-4 "> 
                <p> Rooms </p>
                <p> About us </p>
                <p> Bookings </p>
                <p> Gallery </p>
                <p> Contact Us </p>
                <button class="px-4 py-2 bg-[#F2D9B1] font-semibold text-black rounded-md"> View Rooms </button>
            </div>
        </div>
    </div>
</div>