
@font-face {
  font-family: "oliver";
  src: url("../static/fonts/Olivera_Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-olivera: "olivera", sans-serif;
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";