{% load tailwind_tags %}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {% tailwind_css %}

</head>
<body>

    {% block content %}
    <!-- Hero Section -->
    <div class="h-[40rem] bg-no-repeat bg-cover" style="background-image: url('{% static 'images/hero-img.jpg' %}')"> 
        {% include 'components/navbar.html' %}

        <div class="w-full py-24 flex flex-col items-center">
        <h1 class="font-olivera text-[6rem] leading-none text-white"> Elevate Your Stay </h1>
        <p class="font-olivera text-3xl leading-none text-white pt-[-16px]"> Discover the Art of Fine Living </p>
        <button class="px-4 py-2 bg-[#F2D9B1] font-semibold text-black rounded-md mt-4 cursor-pointer"> View Rooms </button>
        </div>
    </div>
    <!-- Room Section -->
     <div class="w-full bg-[#F2D9B1] flex items-center justify-center py-[40px]">
        <div class="w-[1300px] flex items-center justify-center flex-col gap-8">
            <h2 class="font-olivera text-[4rem] w-[400px] text-center leading-none "> Rooms Structured for your comfort </h2>
            <div class="w-full flex flex-row  gap-4 " > 
            {% for room in rooms %}
                <div class="w-full rounded-2xl overflow-hidden h-fit">
                    <img src="{{ room.room_image }}" alt="" class="h-[258px] w-full object-cover ">
                    <div class="w-full py-4 px-4 bg-white">
                        <h3 class="text-[20px] font-semibold"> <a href="{% url 'room-detail' room.slug %}"> {{room.room_name}} </a> </h3>
                        <span class="flex items-center gap-0.5"> <p class="text-[32px] font-bold"> £ {{room.room_price|intcomma }}  </p>  / Night </span>
                        <p> {{room.room_description|truncatewords:20  }} </p>  
                        <div class="w-full flex  justify-between items-center pt-4">
                            <p class="py-2 px-4 bg-[#F0F0F0] w-fit rounded-full"> <span class="font-bold"> {{room.room_no}} </span> rooms available </p>
                            <div class="flex flex-row gap-4"> 
                                <i title="Size"> <img src="{% static 'icons/size-icon.svg' %}" alt="size-icon" > </i>
                                <i title="Electricty"> <img src="{% static 'icons/bulb-icon.svg' %}" alt="size-icon" > </i>
                                <i title="A/C"> <img src="{% static 'icons/AC-icon.svg' %}" alt="size-icon" > </i>
                                <i title="Pool"> <img src="{% static 'icons/pool-icon.svg' %}" alt="size-icon" > </i>
                                <i title="Meals"> <img src="{% static 'icons/food-icon.svg' %}" alt="size-icon" ></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %} 
            </div>
        </div>
     </div>
    
     {% endblock %}
</body>

    {% include 'scripts/script.html' %}

    
</html>